$gradiente_header_footer: linear-gradient(to left, #7fb8a4 25%, #699586 50%, #7fb8a4 75%, #9fddca 100%);
$gradiente_vision: linear-gradient(to left, #7fb8a4, #699586, #dab79c, #76afd7);
$color_header_footer: #7fb8a4;
$secciones: Index, Vision, Quienes, Contacto, Areas;
$rotulos: Vision, Quienes, Contacto, Areas;
$color_rotulos: #9fddca;
$tercer_color: #699586;

/* inicio estilos generales */ 
html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
	
	a {
		color: white
	}

	h2 {
		font-size: 27px;
		em {
			font-style: normal;
		}
	}

	p {
		font-size: 18px;

		strong, 
		em {
			font-weight: normal;
			font-style: normal;
		}
	}

}
/* fin estilos generales */

/* inicio estilos header */
.cabecera__superior {
	width: 100%;
	background: $gradiente_header_footer;
}

.cabecera__contenedor {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: flex;
}

.cabecera__menu {
	flex-grow: 1;
	li {
		transition: transform 0.3s ease-in-out;
		&:hover {
			text-decoration: underline;
			transform: scale(1.1);
			z-index: 1;
			ul {
				display: block;
			}
		}
		li {
			margin: 0;
			font-size: 12px;
		}
		ul {
			background: $gradiente_header_footer;
		}
	}
	a {
		font-weight: 600;
		color: white;
		&:hover {
			text-decoration: underline;
			color: $tercer_color;
		}
	}
}

.cabecera__navBot {
	max-width: 1170px;
	width: 100%;
}

.cabecera__navBar {
	padding-right: 0;
	img {
		max-width: 80px;
		margin: 5px 0 5px 10px;
		transition: transform 0.5s ease-in-out;
		&:hover {
			transform: scale(1.2) translate(10px, 10px);
		}
	}
	a {
		display: inline-block;
	}	
}

.cabecera__anclasSecciones {
	flex-grow: 0;
}	

.cabecera__inferior {
	width: 100%;
	background-color: $color_header_footer;
}

.cabecera__contenedor--redes {
	height: 40px;
	justify-content: flex-end;
	align-items: center;
	a {
		display: inline-block;
		margin-right: 10px;
	}
	img {
		transition: transform 0.3s ease;
		&:hover {transform: scale(1.5) rotate(-30deg);}
	}
}
/* fin estilos header */

/* inicio estilos footer */
.pie__fondo--superior {
	width: 100%;
	background-color: $color_header_footer;
}

.pie__superior {
	max-width: 1170px;
	width: 100%;
}	

.pie__contenedor {
	display: flex;
	max-width: 1170px;
	width: 100%;
	margin: auto;
}

.pie__contenedor--bajo {
	height: 80px;
	align-items: center;
}	

.pie__infoContacto {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	span {
		margin-right: 10px;
		margin-left: 5px;
		color: white;
	}
}

.pie__fondo--inferior {
	width: 100%;
	background: $gradiente_header_footer;
}

.pie__inferior {
	max-width: 1170px;
	width: 100%;
}

.pie__menu {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		display: inline-block;
		margin-right: 10px;
		margin-left: 10px;
		transition: transform 0.3s ease-in-out;
		&:hover {
			text-decoration: underline;
			transform: scale(1.1);
			z-index: 1;
		}
	}
	a {
		text-decoration: none;
		font-weight: 600;
		&:hover {
			text-decoration: underline;
			color: white;
		}
	}
}

.pie__redes {
	display: flex;
	a {
		display: inline-block;
		margin-right: 10px;
	}
	img {
		transition: transform 0.3s ease;
		&:hover {
			transform: scale(1.5) rotate(-30deg); 
		}
	}
}

.pie__logo {
	width: 40px;
	margin: 5px 0 5px 10px;
	img {
		transition: transform 0.5s ease-in-out;
		&:hover {
			transform: scale(1.5) translate(10px, -10px);
		}
	}
	a {
		display: inline-block;
	}
}

.pie__icono {
	color: white;
}

.pie__icono--phone {
	margin-left: 10px;
}

.pie__divIconos {
	display: flex;
	align-items: center;
}
/* fin estilos footer */

/* estilos generales mains secciones */
@each $seccion in $secciones {
	.main#{$seccion} {
		max-width: 1170px;
		width: 100%;
		margin: 20px auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
/* estilos generales mains secciones */

/* inicio estilos index */
.banner {
	background-image: url(../imagenes/principal.jpg);
	background-size: cover;
	height: 400px;
	margin: 20px 0 0 0;
	position: relative;
}

.banner__titulo {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: white;
	font-weight: 600;
}	

.mainIndex__seccion {	
	a {
		display: inline-block;
		text-decoration: none;
		display: flex;
		align-items: center;
		font-size: 0;
	}
}	
		
.mainIndex__texto {
	max-width: 350px;
	margin: auto;
	font-size: 18px;
	color: black;
	h2 {
		display: inline-block;
		font-weight: 600;
	}
}

.mainIndex__img {
		img {
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
}
/* fin estilos index */	

/* bucle para rótulos de todas las secciones, salvo el index */
@each $rotular in $rotulos {
	.main#{$rotular}__rotulo {
		height: 100%;
		color: white;
		background-color: $color_rotulos;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
/* fin bucle para rotulos de todas las secciones, salvo el index */

/* inicio sección QuienesSomos */
.mainQuienes {
	h2 {
		font-weight: 600;
	}
}

.grilla1 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 55% auto;
	
	grid-template-areas: "fotogrilla fotogrilla titulo_a titulo_a titulo_a"
	                     "fotogrilla fotogrilla desarrollo_a desarrollo_a desarrollo_a"
	                     "desarrollo_b desarrollo_b desarrollo_b desarrollo_b desarrollo_b";
	justify-items: center;
	align-items: center;
	padding: 25px 0;                     
} 

.grilla1__foto {
	grid-area: fotogrilla;
	img {
		width: 100%;
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.03) translate(5px);	
		}
	}
}

.grilla1__titulo {
	grid-area: titulo_a;
}

.grilla1__desarrollo1 {
	grid-area: desarrollo_a;
	p {
		text-align: center;
		padding: 0 50px;
		display: inline-block;
		width: 500px;
	}
}

.grilla1__desarrollo2 {
	grid-area: desarrollo_b;
	p {
		text-align: center;
		padding: 3px 20px 0 20px;
	}
}

.grilla2 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulo titulo titulo titulo"
	                     "desarrollo desarrollo desarrollo desarrollo"
	                     "integrantes integrantes video video"
	                     "link link link link";
	justify-items: center;
	align-items: center; 
	grid-row-gap: 20px;
	padding-bottom: 20px;
}

.grilla2__titulo {
	grid-area: titulo;
}

.grilla2__desarrollo {
	grid-area: desarrollo;
	p {
		padding: 0 20px;
		text-align: center;
	}
}

.grilla2__foto {
	grid-area: integrantes;
	img {
		width: 100%;
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.03) translate(5px);	
		}
	}
}

.grilla2__video {
	grid-area: video;
	iframe {
		width: 100%;
	}	
}

.grilla2__linkContacto {
	grid-area: link;
	display: flex;
	width: 423px;
	height: 48px;
	justify-content: center;
	background-color: $color_header_footer;
	transition: all 0.5s ease-in-out 0.25s;
	&:hover {
		width: 520px;
		justify-content: flex-start;
	}
}

.grilla2__transformar {
	color: black;
	font-weight: 900;
	font-size: 20px;
	background-color: $color_rotulos;
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid black;	
	transition: all 0.5s ease-in-out 0.25s;
	&:hover {
		color: white;
		background-color: $tercer_color;
	}
}
/* fin sección QuienesSomos */

/* inicio sección Visión */
.mainVision__texto {
	text-align: center;
	margin: 25px;
	p {
		display: inline-block;
		max-width: 800px;
		width: 100%;
		margin: 10px auto;
	}
	h2 {
		font-weight: 600;
	}
}

.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	background: $gradiente_vision;
	margin-bottom: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar colmenar"
	                     "textocolmenar textocolmenar textocolmenar"
	                     "texto84 texto84 texto84"
	                     "fotoescuela fotoescuela fotoescuela"
	                     "slider slider slider"
	                     "textoasfalto textoasfalto textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 0;   
	grid-row-gap: 50px;  
	color: white;
}

.titulovision {
	grid-area: titulovision;
}

.colmenar {
	grid-area: colmenar;
	img {
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
}

.textocolmenar {
	grid-area: textocolmenar;
	p {
		display: inline-block;
		padding: 0 40px;
	}
	h3 {
		padding: 0 40px;
	}
}

.texto84 {
	grid-area: texto84;
	p {
		display: inline-block;
		padding: 0 40px;
	}
	h3 {
		padding: 0 40px;
	}
}

.slider {
	grid-area: slider;
}

.texto_asfalto {
	grid-area: textoasfalto;
	p {
		display: inline-block;
		padding: 0 40px;
	}
	h3 {
		padding: 0 40px;
	}
}

.escuela84 {
	grid-area: fotoescuela;
	img {
		transition: transform 0.4s ease-in-out;
		&:hover {
			transform: scale(1.05);
		}
	}
} 
/* fin sección Visión */

/* inicio sección Contacto */
.mainContacto__form {
	text-align: center;
	margin: 25px;
	h2 {
		margin-bottom: 25px;
		font-weight: 600;
	}
}

.mainContacto__campo {
	max-width: 800px;
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: $gradiente_vision;
	color: white;
}

.mainContacto__label {
	max-width: 530px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px 0;
}

.mainContacto__h3 {
	h3 {
		margin: 10px;
	}
}

.mainContacto__area {
	max-width: 530px;
	width: 100%;
}

.mainContaco__check {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
	label {
		padding: 0 5px;
	}
}

.mainContacto__accion {
	max-width: 410px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.mainContacto__boton {
	margin: 5px;
	transition: transform 0.5s ease;
	&:hover {
		transform: scale(1) translate(8px);
	}	
}

.mainContacto__boton {
	transition: all 0.2s ease-in-out;
	&:hover {
		color: white;
		background-color: $color_header_footer;
	}
}
/* fin sección Contacto */

/* inicio sección Áreas */
.mainAreas__global {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
	padding: 25px 25px;
	border: 2px solid $tercer_color;
	p {
		text-align: center;
	}
}

.mainAreas__titulo {
	margin-bottom: 20px;
}
/* fin sección Áreas */

/* inicio responsive */
@media (min-width: 320px) {
	
	.banner__titulo {
		text-align: right;
	}

	.pie__logo {
		margin: 5px 0;
		padding: 0;
		img {
			width: 30px;
		}
	}

	.pie__menu {
		li {
			margin-right: 5px;
			margin-left: 5px;
		}
		ul {
			width: 100%;
			text-align: center !important;
		}
	}

	.pie__redes {
		justify-content: center;
	}

	.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto auto;
	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar colmenar"
	                     "textocolmenar textocolmenar textocolmenar"
	                     "fotoescuela fotoescuela fotoescuela"
	                     "texto84 texto84 texto84"
	                     "slider slider slider"
	                     "textoasfalto textoasfalto textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 10px;   
	grid-row-gap: 50px;  
	color: white;
	}


	.mainAreas__tabla {
		overflow-x: scroll;
		max-width: 280px;
	}

	.grilla1 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: "fotogrilla fotogrilla fotogrilla"
						 "titulo_a titulo_a titulo_a"
						 "desarrollo_a desarrollo_a desarrollo_a"
						 "desarrollo_b desarrollo_b desarrollo_b";
	justify-items: center;
	align-items: center;
	} 

	.mainQuienes__rotulo {
		h1 {
			font-size: 24px;
			text-align: center;
		}	
	}

	.grilla1__titulo {
		h2 {
			padding-top: 20px;
			margin: 0;
		}
	}

	.grilla1__desarrollo1 {
		p {
			text-align: center;
			padding: 20px 10px 0 10px;
			margin: 0;
			width: 100%;
		}
	}

	.grilla1__desarrollo2 {
		p {
			text-align: center;
			padding: 0 10px 10px 10px;
			margin: 0;
			width: 100%;
		}
	}

	.grilla2 {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
	grid-template-areas: "titulo titulo titulo titulo"
						 "desarrollo desarrollo desarrollo desarrollo"
						 "integrantes integrantes integrantes integrantes"
						 "video video video video"
						 "link link link link" !important;
	justify-items: center;
	align-items: center;
	} 

	.grilla2__titulo{
		h2 {
			margin: 0;
		}
	}

	.grilla2__desarrollo {
		p {
			padding: 10px 10px 0;
		}
	}

	.grilla2__linkContacto {
		display: flex;
		width: 250px;
		height: auto;
		&:hover {
			width: 280px;
			justify-content: flex-start;
		}
		a {
		font-size: 15px;
		text-align: center;
		}
	}

	.grilla2__transformar {
		color: black;
		font-weight: 900;
		background-color: $color_rotulos;
		text-decoration: none;
		padding: 10px 10px;
		border: 2px solid black;	
		transition: all 0.5s ease-in-out 0.25s;
		&:hover {
			color: white;
			background-color: $tercer_color;
		}
	}
}

@media (min-width: 576px) {

	.pie__infoContacto {
		padding-right: 0;
	}

	.pie__infoContacto span {
		margin-right: 0;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 556px;
	}

	.mainQuienes__rotulo {
		h1 {
			font-size: calc(1.375rem + 1.5vw);
		}	
	}

	.grilla2__video {
		iframe {
			width: 552px;
			height: 384px;}
		}

	.grilla2__linkContacto {
		width: 280px;
		&:hover {
			width: 360px;
		}
	}
}	

@media (min-width: 768px) {

	.pie__contenedor {
		li {
			margin-right: 10px;
			margin-left: 0;
		}
		ul {
			width: auto;
		}
		nav {
			padding-left: 0;
		}
	}

	.pie__redes {
		padding-right: 0;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 748px;
	}
}

@media (min-width: 992px) {

	.pie__contenedor {
		ul {
			text-align: left !important;
		}
	}

	.pie__redes {
		padding-right: 0;
	}

	.pie__ancla--youtube {
		margin-right: 0 !important;
	}

	.pie__logo {
		img {
			width: 40px;
		}
	}

	.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar textocolmenar"
	                     "texto84 fotoescuela fotoescuela"
	                     "slider slider textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 10px;   
	grid-row-gap: 50px;  
	color: white;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 972px;
	}

	.grilla1 {
		max-width: 1170px;
		width: 100%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto 55% auto;
		
		grid-template-areas: "fotogrilla fotogrilla titulo_a titulo_a titulo_a"
		                     "fotogrilla fotogrilla desarrollo_a desarrollo_a desarrollo_a"
		                     "desarrollo_b desarrollo_b desarrollo_b desarrollo_b desarrollo_b";
		justify-items: center;
		align-items: center;
		padding: 25px 0;                     
	} 

	.grilla2 {
		max-width: 1170px;
		width: 100%;
		margin: auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto;

		grid-template-areas: "titulo titulo titulo titulo"
		                     "desarrollo desarrollo desarrollo desarrollo"
		                     "integrantes integrantes video video"
		                     "link link link link"!important;
		justify-items: center;
		align-items: center; 
		grid-row-gap: 20px;
		padding-bottom: 20px;
	}

	.grilla2__foto {
		img {
			max-width: 470px;
			width: 100%;
		}
	}

	.grilla2__video{
		padding-top: 5px;
		iframe {
			width: 470px;
			height: 328px;
		}
	}


	.grilla2__linkContacto {
		display: flex;
		width: 378px;
		height: auto;
		&:hover {
			width: 460px;
			justify-content: flex-start;
		}
		a {
		font-size: 21px;
		text-align: center;
		}
	}

	.grilla1__desarrollo1 {
		p {
			padding: 20px 50px 0 50px;
		}
	}
}

@media (min-width: 1200px) {
	
	.pie__redes {
		justify-content: flex-end;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 1190px;
	}

	.grilla1__titulo {
		h2 {
			padding-top: 0;
			padding-bottom: 20px;
		}
	}

	.grilla1__desarrollo1 {
		p {
			max-width: 500px;
			padding: 0 50px;
			margin-bottom: 16px;
		}
	}

	.grilla1__desarrollo2 {
		p {
			padding: 5px 20px 0;
			margin-bottom: 16px;
		}
	}

	.grilla2__foto {
		img {
			max-width: 560px;
			width: 100%;
		}
	}

	.grilla2__video {
		iframe {
			width: 550px;
			height: 386px;
		}	
	}
}

@media (max-width: 767px) {

	.mainContacto__label {
		max-width: 400px;
		width: 100%;
	}

	.mainContacto__area {
		max-width: 400px;
		width: 100%;
	}
}

@media (max-width: 575px) {
	
	.mainContacto__form {
		margin: 0;
	}

	.mainContacto__label {
		max-width: 270px;
		width: 100%;
	}

	.mainContacto__form {
		h2 {
			margin-top: 25px;
		}
	}

	.mainContacto__area {
		max-width: 270px;
		width: 100%;
	}

	.mainContacto__boton {
		padding: 5px;
	}
}
/* fin responsive */

