html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
}

a {
	color: white;
}

p strong,
p em {
	font-weight: normal;
	font-style: normal;
}

h2 em {
	font-style: normal;
}

h2 {
	font-size: 27px;
}

p {
	font-size: 18px;
}


/* INICIO HEADER */

.cabecera__superior {
	width: 100%;
	background: linear-gradient(to left, #7fb8a4 25%, #699586 50%, #7fb8a4 75%, #9fddca 100%);
}

.cabecera__contenedor {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: flex;
}

.cabecera__logo img {
	max-width: 80px;
	margin: 5px 0 5px 10px;
	transition: transform 0.5s ease-in-out;
}

.cabecera__logo img:hover {
	transform: scale(1.2) translate(10px, 10px);
}

.cabecera__logo a {
	display: inline-block;
}

.cabecera__menu {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cabecera__menu ul {
	margin: 0;
	padding: 0;
}

.cabecera__menu li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	transition: transform 0.3s ease-in-out;
}

.cabecera__menu li:hover {
	text-decoration: underline;
	transform: scale(1.1);
	z-index: 1;
}  

.cabecera__menu a {
	text-decoration: none;
	font-weight: 600;
}

.cabecera__menu a:hover {
	text-decoration: underline;
	color: white;
}

.cabecera__menu li li {
	display: block;
	margin: 0;
	padding-top: 5px;
	font-size: 12px;
}	

.cabecera__menu li {
	position: relative;
}

.cabecera__menu li ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}

.cabecera__menu li:hover ul {
	display: block;
}

.cabecera__inferior {
	width: 100%;
	background-color: #7fb8a4;
}

.cabecera__contenedor--redes {
	height: 40px;
	justify-content: flex-end;
	align-items: center;
}

.cabecera__contenedor--redes a {
	display: inline-block;
	margin-right: 10px;
}

.cabecera__contenedor--redes img {
	transition: transform 0.3s ease;
}

.cabecera__contenedor--redes img:hover {
	transform: scale(1.5) rotate(-30deg); 
}

/* para evaluar fijar el menu. Sería una clase para el header pero habria que 
con un margin top del contenido que siga debajo, empujar para que no lo tape
.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}
*/

/* FIN HEADER */


/* INICIO FOOTER */

.pie__fondo--superior {
	width: 100%;
	background-color: #699586;
}

.pie__superior {
	max-width: 1170px;
	width: 100%;
}	

.pie__contenedor {
	display: flex;
	max-width: 1170px;
	width: 100%;
	margin: auto;
}

.pie__contenedor--bajo {
	height: 80px;
	align-items: center;
}	

.pie__infoContacto {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.pie__infoContacto span {
	margin-right: 10px;
	margin-left: 5px;
	color: white;
}

.pie__fondo--inferior {
	width: 100%;
	background: linear-gradient(to left, #7fb8a4 25%, #699586 50%, #7fb8a4 75%, #9fddca 100%);
}

.pie__inferior {
	max-width: 1170px;
	width: 100%;
}

.pie__menu {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.pie__menu ul {
	margin: 0;
	padding: 0;
}

.pie__menu li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	transition: transform 0.3s ease-in-out;
}

.pie__menu li:hover {
	text-decoration: underline;
	transform: scale(1.1);
	z-index: 1;
}  

.pie__menu a {
	text-decoration: none;
	font-weight: 600;
}

.pie__menu a:hover {
	text-decoration: underline;
	color: white;
}

.pie__redes {
	display: flex;
}

.pie__redes a {
	display: inline-block;
	margin-right: 10px;
}

.pie__redes img {
	transition: transform 0.3s ease;
}

.pie__redes img:hover {
	transform: scale(1.5) rotate(-30deg); 
}

.pie__logo {
	width: 40px;
	margin: 5px 0 5px 10px;
}

.pie__logo img {
	transition: transform 0.5s ease-in-out
} 

.pie__logo img:hover {
	transform: scale(1.5) translate(10px, -10px);
}

.pie__logo a {
	display: inline-block;
}

.pie__icono {
	color: white;
	margin-right: 
}

.pie__icono--phone {
	margin-left: 10px;
}

.pie__divIconos {
	display: flex;
	align-items: center;
}
/* FIN FOOTER */


.mainIndex,
.mainVision,
.mainQuienes,
.mainContacto,
.mainAreas {
	max-width: 1170px;
	width: 100%;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/* SECCION INDEX */

.banner {
	background-image: url(../imagenes/principal.jpg);
	background-size: cover;
	height: 400px;
	margin: 20px 0 0 0;
	position: relative;
}

.banner__titulo {
	position: absolute;
	right: 20px;
	bottom: 20px;
	color: white;
}	

.mainIndex__seccion a {	
	display: inline-block;
	text-decoration: none;
	display: flex;
	align-items: center;
	font-size: 0;
}	

.mainIndex__texto {
	max-width: 350px;
	margin: auto;
	font-size: 18px;
	color: black;
}

.mainIndex__texto h2 {
	display: inline-block;
}

/* FIN SECCION INDEX */


/* SECCION QUIENES SOMOS */

.mainQuienes__rotulo {
	height: 100%;
	color: white;
	background-color: #9fddca;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grilla1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto 55% auto;
	
	grid-template-areas: "fotogrilla fotogrilla titulo_a titulo_a titulo_a"
	                     "fotogrilla fotogrilla desarrollo_a desarrollo_a desarrollo_a"
	                     "desarrollo_b desarrollo_b desarrollo_b desarrollo_b desarrollo_b";
	justify-items: center;
	align-items: center;
	padding: 25px 0;                     
} 

.grilla1__foto {
	grid-area: fotogrilla
}
 
.grilla1__titulo {
	grid-area: titulo_a
}

.grilla1__desarrollo1 {
	grid-area: desarrollo_a
}

.grilla1__desarrollo2 {
	grid-area: desarrollo_b
}

.grilla1__desarrollo1 p {
	text-align: center;
	padding: 0 50px;
	display: inline-block;
	width: 500px;
}

.grilla1__desarrollo2 p {
	text-align: center;
	padding: 0 20px;
}

.grilla1__foto img {
	width: 100%
}

.grilla2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulo titulo titulo titulo"
	                     "desarrollo desarrollo desarrollo desarrollo"
	                     "integrantes integrantes video video"
	                     "link link link link";
	justify-items: center;
	align-items: center; 
	grid-row-gap: 20px;
	padding-bottom: 20px;
}

.grilla2__titulo {
	grid-area: titulo
}

.grilla2__desarrollo {
	grid-area: desarrollo
}

.grilla2__fotoIntegrantes {
	grid-area: integrantes
}

.grilla2__video {
	grid-area: video
}

.grilla2__linkContacto {
	grid-area: link;
	display: flex;
	width: 430px;
	height: 48px;
	justify-content: center;
	background-color: #7fb8a4;
	transition: all 0.5s ease-in-out 0.25s;
}

.grilla2__linkContacto:hover {
	width: 800px;
	justify-content: flex-start;
} 

.grilla2__desarrollo p {
	padding: 0 20px;
	text-align: center;
}

.grilla2__transformar {
	color: black;
	font-weight: 900;
	font-size: 20px;
	background-color: #9fddca;
	text-decoration: none;
	padding: 10px 40px;
	border: 2px solid black;
	
	transition: all 0.5s ease-in-out 0.25s;
}

.grilla2__transformar:hover {
	color: white;
	background-color: #699586;
}

/* FIN SECCION QUIENES SOMOS */


/* SECCION VISION */

.mainVision__rotulo {
	height: 100%;
	color: white;
	background-color: #9fddca;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainVision__texto {
	text-align: center;
	margin: 25px;
}

.mainVision__texto p {
	display: inline-block;
	max-width: 800px;
	width: 100%;
	margin: 10px auto;
}	

.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	background: linear-gradient(to left, #7fb8a4, #699586, #dab79c, #76afd7);
	margin-bottom: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar colmenar"
	                     "textocolmenar textocolmenar textocolmenar"
	                     "texto84 texto84 texto84"
	                     "fotoescuela fotoescuela fotoescuela"
	                     "slider slider slider"
	                     "textoasfalto textoasfalto textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 0;   
	grid-row-gap: 50px;  
	color: white;
}

.titulovision {
	grid-area: titulovision
}

.colmenar {
	grid-area: colmenar;
}

.colmenar img {
	transition: transform 0.5s ease-in-out
}

.colmenar img:hover {
	transform: scale(1.1) translate(-20px);
}

.textocolmenar {
	grid-area: textocolmenar
}

.texto84 {
	grid-area: texto84
}

.slider {
	grid-area: slider
}

.texto_asfalto {
	grid-area: textoasfalto
}

.escuela84 {
	grid-area: fotoescuela;
} 

.escuela84 img {
	transition: transform 0.5s ease-in-out
}

.escuela84 img:hover {
	transform: scale(1.1) translate(20px);
}

.textocolmenar p,
.texto84 p,
.texto_asfalto p {
	display: inline-block;
	padding: 0 40px;
} 

.textocolmenar h3,
.texto84 h3,
.texto_asfalto h3 {
	padding: 0 40px;
} 

/* FIN SECCION VISION */


/* SECCION CONTACTO */

.mainContacto__rotulo {
	height: 100%;
	color: white;
	background-color: #9fddca;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainContacto__form {
	text-align: center;
	margin: 25px;
}

.mainContacto__form h2 {
	margin-bottom: 25px;
}

.mainContacto__campo {
	width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(to left, #7fb8a4, #699586, #dab79c, #76afd7);
	color: white;
}

.mainContacto__label {
	display: flex;
	flex-direction: column;
	padding: 5px 0;
}

.mainContaco__check {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

.mainContacto__check label {
	padding: 0 5px;
}

.mainContacto__otros {
	display: flex;
	flex-direction: row;
}

.mainContacto__area {
	padding-left: 10px;
}

.mainContacto__accion {
	width: 410px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.mainContacto__boton {
	margin: 5px 0 5px 10px;
	transition: transform 0.5s ease;	
}

.mainContacto__boton:hover {
	transform: scale(1) translate(8px)
}


.mainContacto__boton {
	transition: all 0.2s ease-in-out;
}

.mainContacto__boton:hover {
	color: white;
	background-color: #7fb8a4;
}

/* FIN SECCION CONTACTO */


/* SECCION AREAS */

.mainAreas__rotulo {
	height: 100%;
	color: white;
	background-color: #9fddca;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainAreas__global {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
	padding: 25px 25px;
	border: 2px solid #699586;
}

.mainAreas__global p {
	text-align: center;
}

.mainAreas__titulo {
	margin-bottom: 20px;
}

/* FIN SECCION AREAS */


/* RESPONSIVE */

@media (min-width: 320px) {
	.portada h1 {
		text-align: right;
	}

	.cabecera__contenedor {
		justify-content: center;
	}

	.cabecera__logo img {
		width: 80%;
	}

	.cabecera__menu ul {
		width: 100%;
		text-align: center;
	}

	.cabecera__menu li {
		margin-right: 5px;
		margin-left: 5px;
	}

	.cabecera__menu li li {
		text-align: left;
	}

	.pie__logo {
		margin: 5px 0;
		padding: 0;
	}

	.pie__logo img {
		width: 30px;
	}

	.pie__menu li {
		margin-right: 5px;
		margin-left: 5px;
	}

	.pie__menu ul {
		width: 100%;
		text-align: center !important;
	}

	.pie__redes {
		justify-content: center;
	}

	.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto auto auto;

	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar colmenar"
	                     "textocolmenar textocolmenar textocolmenar"
	                     "fotoescuela fotoescuela fotoescuela"
	                     "texto84 texto84 texto84"
	                     "slider slider slider"
	                     "textoasfalto textoasfalto textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 10px;   
	grid-row-gap: 50px;  
	color: white;
	}


	.mainAreas__tabla {
		overflow-x: scroll;
		max-width: 280px;
	}

}


@media (min-width: 576px) {

	.pie__infoContacto {
		padding-right: 0;
	}

	.pie__infoContacto span {
		margin-right: 0;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 556px;
	}
}	

@media (min-width: 768px) {

	.cabecera__contenedor {
		justify-content: flex-end;
	}

	.cabecera__menu ul {
		width: 100%;
		text-align: right;
	}

	.cabecera__menu li li {
		text-align: left;
	}

	.cabecera__menu li {
		margin-right: 0;
		margin-left: 20px;
	}

	.pie__contenedor li {
		margin-right: 10px;
		margin-left: 0;
	}

	.pie__contenedor ul {
		width: auto;
	}

	.pie__contenedor nav{
		padding-left: 0;
	}
	.pie__redes {
		padding-right: 0;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 748px;
	}
}

@media (min-width: 992px) {

	.cabecera__logo img {
		width: 100%;
	}

	.pie__contenedor ul {
		text-align: left !important;
	}

	.pie__redes {
		padding-right: 0;
	}

	.pie__ancla--youtube {
		margin-right: 0 !important;
	}

	.pie__logo img {
		width: 40px;
	}

	.grillavision {
	max-width: 1170px;
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto;

	grid-template-areas: "titulovision titulovision titulovision"
	                     "colmenar colmenar textocolmenar"
	                     "texto84 fotoescuela fotoescuela"
	                     "slider slider textoasfalto";
	justify-items: center;
	align-items: center;
	padding: 25px 10px;   
	grid-row-gap: 50px;  
	color: white;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 972px;
	}
}	

@media (min-width: 1200px) {
	.pie__redes {
		justify-content: flex-end;
	}

	.mainAreas__tabla {
		overflow-x: auto;
		max-width: 1190px;
	}
}


/* FIN (POR AHORA) RESPONSIVE */


